extends base 

block content 
 .error-page-area
  .container-fluid.pd-zero
    .default-template-gradient.default-pd-center
      .row
        .col-md-12
          .error-text-content
            h2.error-title 404
            p.error-description Page not pound
            a.button.nevy-blue-bg(href='/') go home
 footer.footer-area.bg-gray-color(style='background-image: url(assets/images/footer-bg.png)')
  .container
    .row
      .col-md-12
        .apartment-sidebar
          .widget_rental_search.clerafix
            // /.form-border
          // /.widget_rental_search
          // /.partments-content
    .row
      .col-md-12
        .bottom-content
          p
            | Copyright &copy;2021 
            a(href='#') Techkey           