// ====== Footer Area ======
footer.footer-area.bg-gray-color(style='background-image: url(assets/images/footer-bg.png)')
  .container
    .row
      .col-md-4
        .widget.widget_about.yellow-color
          .widget-title-area
            h3.widget-title About Unihome
            // /.widget-title
          // /.widget-title-area
          .widget-about-content
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Excepturi, distinctio illo totam eius aut unde? Voluptatibus
              | nesciunt culpa et, in obcaecati neque ea commodi eum
              | temporibus distinctio suscipit expedita possimus.
          // /.widget-content
        // /.widget widget_about
      // /.col-md-4
      .col-md-4
        // /.widget
      // /.col-md-4
      .col-md-4
        // /.widget
      // /.col-md-4
    // /.row
    .row
      .col-md-12
        .bottom-content
          p
            | Copyright &copy;2021 
            a(href='#') Techkey
        // /.bottom-top-content
      // /.col-md-12
    // /.row
  // /.container
// /.footer-area
//
  All The JS Files
  ==================================================

// main-js
