extends base

block content
 .form-block-content
  .form-area.form-four
    .container
      .row
        .col-md-12
          div(style='text-align:center') 
           img(style='width: 500px; text-align:center' src='/img/node.png' alt='site-logo')
        .col-md-12
          h4.mt-2.form-bottom-title(style='margin-top:40px')
            span(style='opacity: 0.8; font-weight: 400; color: black') API url: 
            a(href=``+ url,target="_blank",style='opacity: 0.8; font-weight: bold; color: #fca22a')
              | #{url}
 .form-block-content.hover-shadow.default-template-gradient
  .form-area.form-four
    .container
      .row
        .col-md-12
          div(style='text-align: center')
            h3(style="\
            font-family: sans-serif, 'Poppins';\
            color: white;\
            opacity: 0.9;\
            ")
              | Express.Js PUG 
              | Template
          form.advance_search_query(action='/search' method='get')
            .form-bg.border-radius
              .form-content
                .form-group
                  label Select Example
                  select(required name="locationID")
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                // /.form-group
                .form-group
                  label Price
                  input(type='text' name='price' required placeholder='10000')
                // /.form-group
                .form-group
                  button.button.nevy-button(type='submit')
                    | Button
                // /.form-group
              // /.form-content
            // /.form-bg
          // /.advance_search_query
         
        // /.col-md-12
      // /.row
    // /.container
  // /.form-area
  
 include _footer 