doctype html
head
  //
    Basic Page Needs
    ==================================================
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  //
    Specific Meta
    ==================================================
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  meta(name='description' content='unihome is an online house booking system for maseno university student.')
  meta(name='keywords' content='Unihome, Maseno online booking system')
  meta(name='author' content='Techkey cybernetics')
  //
    Titles
    ==================================================
  title Unihome page
  //
    Favicons
    ==================================================
  link(rel='shortcut icon' href='/img/logo.png')
  link(rel='apple-touch-icon' href='/img/logo.png')
  link(rel='apple-touch-icon' sizes='72x72' href='/img/logo.png')
  link(rel='apple-touch-icon' sizes='114x114' href='/img/logo.png')
  //
    Custom Font
    ==================================================
  link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i%7cPoppins:300,400,500,600,700' rel='stylesheet')
  //
    CSS
    ==================================================
  link(rel='stylesheet' href='/assets/css/plugins.css')
  link(rel='stylesheet' href='/assets/css/colors.css')
  link(rel='stylesheet' href='/style.css')
  script( defer src="/assets/resetpass.js") 
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" )
  //
    Modernizr
    ==================================================
  script(src='/assets/js/vendor/modernizr-2.8.3.min.js')
// ====== Blog Area ======
.blog-area.bg-gray-color
  .container
    .row
      .col-md-12
        .card
          .widget.widget_popular_posts.clearfix(style='background-color: white; padding: 1rem')
            form#setNewPasswordForm.advance_search_query.booking-form(action='booking.html' method='get')
              .form-bg.seven
                .form-content(style='display: flex; flex-direction: column')
                  h3(style='font-family: sans-serif, Poppins')
                    | Password Reset
                  .form-group
                    svg.bi.bi-shield-lock-fill(xmlns='http://www.w3.org/2000/svg' width='56' height='56' fill='currentColor' viewbox='0 0 16 16')
                      path(fill-rule='evenodd' d='M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5z')
                  // /.form-group
                  .form-group
                    label New password
                    input#resetNewPass(type='password' name='FirstName' placeholder='New *****')
                  // /.form-group
                  .form-group
                    label Confirm password
                    input#resetConfirmPass(type='password' name='FirstName' placeholder='Confirm ******')
                  // /.form-group
                  // /.form-group
                  .form-group
                    button#resetConfirmBtn.button.default-template-gradient.button-radius(type='submit')
                      | Reset Password
                  // /.form-group
                // /.form-content
              // /.form-bg
    // /.row
  // /.container
// /.blog-area
//
  All The JS Files
  ==================================================
script(src='/assets/js/vendor/jquery-1.12.4.min.js')
script(src='/assets/js/plugins.js')
script(src='/assets/js/main.js')
// main-js
